* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aqua;
}
header h1, nav {
    display: inline-block;
}
header h1 {
    margin-left: 20px;
}

header nav {
    margin-left: 30%;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
}

.banner {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/02-hero-bg.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner div h2 {
    margin-right: 10px;
    color: white;
    text-shadow: 0px 0px 5px blue;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-section {
    display: flex;
    flex-flow: space-around;
    padding: 5px;
    margin: 10px;
}

.section-title {
    width: 25%;
    padding-right: 10px;
    margin: 5px;
    border-right: 2px solid black;
    text-align: right;
}

.section-content {
    width: 70%;
    padding-left: 10px;
    margin: 5px 5px;
}

#work .section-content {
    display: flex;
    flex-flow: space-between;
    flex-wrap: wrap;
}

.first-project {
    width: calc(90% + 10px);
    max-width: 1010px;
    height: 200px;
    margin: 5px;
    border: 5px solid navy;
}
.other-project {
    width: 45%;
    max-width: 500px;
    height: 200px;
    margin: 5px;
    border: 5px solid navy;
}

.project-title {
    background-color: aqua;
    padding: 2px;
    width: 180px;
    position: relative;
    margin-top: 130px;
    height: 40px ;
}
.project-title h3 {
    margin: 0px;
    font-size: 14px;
    height: 10px;
}

.project-title p {
    font-size: 10px;
    height: 10px;
}
#one {
    background-image: url(../images/02-portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#two {
    background-image: url(../images/02-portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#three {
    background-image: url(../images/02-portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#four {
    background-image: url(../images/02-portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#five {
    background-image: url(../images/02-run-buddy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact .section {
    margin: auto;
    justify-content: center;
}
#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
    margin-left: 40px;
}